<div class="section-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="postouch-header">
                    <h1 class="software-h1"><i class="fa fa-hand-pointer-o"></i> POS Touch</h1>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>
<div class="section-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">
                <div class="">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 id="currentDateTime">
                                    </h4>
                                </div>
                                <div class="panel-heading">
                                    <wj-flex-grid [itemsSource]="tableGroupList" [selectionMode]="1" [headersVisibility]="0" id="tablePostouchSaleFlexGrid">
                                        <wj-flex-grid-column [header]="'Detail'" [binding]="'tableGroup1'" [isReadOnly]="true" [width]="'1*'">
                                            <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                                                <button class="btn btn-info btn-md btn-responsive btn-block" (click)="btnTableGroup1Click()">
                                                     &nbsp;{{ '' }} {{ cell.item.tableGroup1 }} {{ '' }}&nbsp;
                                                </button>
                                            </template>
                                        </wj-flex-grid-column>
                                        <wj-flex-grid-column [header]="'Detail'" [binding]="'tableGroup2'" [isReadOnly]="true" [width]="'1*'">
                                            <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                                                <button class="btn btn-info btn-md btn-responsive btn-block" (click)="btnTableGroup2Click()">
                                                    &nbsp;{{ '' }} {{ cell.item.tableGroup2 }} {{ '' }}&nbsp;
                                                </button>
                                            </template>
                                        </wj-flex-grid-column>
                                        <wj-flex-grid-column [header]="'Detail'" [binding]="'tableGroup3'" [isReadOnly]="true" [width]="'1*'">
                                            <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                                                <button class="btn btn-info btn-md btn-responsive btn-block" (click)="btnTableGroup3Click()">
                                                    &nbsp;{{ '' }} {{ cell.item.tableGroup3 }} {{ '' }}&nbsp;
                                                </button>
                                            </template>
                                        </wj-flex-grid-column>
                                        <wj-flex-grid-column [header]="'Detail'" [binding]="'tableGroup4'" [isReadOnly]="true" [width]="'1*'">
                                            <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                                                <button class="btn btn-info btn-md btn-responsive btn-block" (click)="btnTableGroup4Click()">
                                                    &nbsp;{{ '' }} {{ cell.item.tableGroup4 }} {{ '' }}&nbsp;
                                                </button>
                                            </template>
                                        </wj-flex-grid-column>
                                        <wj-flex-grid-column [header]="'Detail'" [binding]="'tableGroup5'" [isReadOnly]="true" [width]="'1*'">
                                            <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                                                <button class="btn btn-info btn-md btn-responsive btn-block" (click)="btnTableGroup5Click()">
                                                    &nbsp;{{ '' }} {{ cell.item.tableGroup5 }} {{ '' }}&nbsp;
                                                </button>
                                            </template>
                                        </wj-flex-grid-column>
                                        <wj-flex-grid-column [header]="'Detail'" [binding]="'tableGroup6'" [isReadOnly]="true" [width]="'1*'">
                                            <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                                                <button class="btn btn-info btn-md btn-responsive btn-block" (click)="btnTableGroup6Click()">
                                                    &nbsp;{{ '' }} {{ cell.item.tableGroup6 }} {{ '' }}&nbsp;
                                                </button>
                                            </template>
                                        </wj-flex-grid-column>
                                    </wj-flex-grid>

                                    <div class="row">
                                        <div class="col-sm-12 btn-group group-button" id="">
                                            <button type="button" class="btn btn-lg btn-default" (click)="tableGroupMoveToFirstPage()">
                                                    <span class="fa fa-fast-backward"></span> 
                                                </button>
                                            <button type="button" class="btn btn-lg btn-default" (click)="tableGroupMoveToPreviousPage()">
                                                    <span class="fa fa-step-backward"></span> 
                                                </button>
                                            <button type="button" class="btn btn-lg btn-default" disabled style="width:100px">
                                                    {{ tableGroupIndex }}
                                                </button>
                                            <button type="button" class="btn btn-lg btn-default" (click)="tableGroupMoveToNextPage()">
                                                     <span class="fa fa-step-forward"></span>
                                                </button>
                                            <button type="button" class="btn btn-lg btn-default" (click)="tableGroupMoveToLastPage()">
                                                     <span class="fa fa-fast-forward"></span>
                                                </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div *ngIf="isLoading" align="center">
                                    </div>
                                    <div *ngIf="isFinishLoading">
                                        <wj-flex-grid [itemsSource]="tableGroupCollectionView" [selectionMode]="1" [headersVisibility]="0" id="tablePostouchSaleFlexGrid">
                                            <wj-flex-grid-column [header]="'Detail'" [binding]="'tableNo1'" [isReadOnly]="true" [width]="'1*'">
                                                <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                                                    <button class="btn btn-primary btn-responsive btn-md btn-block" (click)="btnEditLead()">
                                                     &nbsp;{{ '' }} {{ cell.item.tableNo1 }} {{ '' }}&nbsp;
                                                </button>
                                                </template>
                                            </wj-flex-grid-column>
                                            <wj-flex-grid-column [header]="'Detail'" [binding]="'tableNo2'" [isReadOnly]="true" [width]="'1*'">
                                                <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                                                    <button class="btn btn-primary btn-responsive btn-md btn-block" (click)="btnEditLead()">
                                                    &nbsp;{{ '' }} {{ cell.item.tableNo2 }} {{ '' }}&nbsp;
                                                </button>
                                                </template>
                                            </wj-flex-grid-column>
                                            <wj-flex-grid-column [header]="'Detail'" [binding]="'tableNo3'" [isReadOnly]="true" [width]="'1*'">
                                                <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                                                    <button class="btn btn-primary btn-responsive btn-md btn-block" (click)="btnEditLead()">
                                                    &nbsp;{{ '' }} {{ cell.item.tableNo3 }} {{ '' }}&nbsp;
                                                </button>
                                                </template>
                                            </wj-flex-grid-column>
                                            <wj-flex-grid-column [header]="'Detail'" [binding]="'tableNo4'" [isReadOnly]="true" [width]="'1*'">
                                                <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                                                    <button class="btn btn-primary btn-responsive btn-md btn-block" (click)="btnEditLead()">
                                                    &nbsp;{{ '' }} {{ cell.item.tableNo4 }} {{ '' }}&nbsp;
                                                </button>
                                                </template>
                                            </wj-flex-grid-column>
                                            <wj-flex-grid-column [header]="'Detail'" [binding]="'tableNo5'" [isReadOnly]="true" [width]="'1*'">
                                                <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                                                    <button class="btn btn-primary btn-responsive btn-md btn-block" (click)="btnEditLead()">
                                                    &nbsp;{{ '' }} {{ cell.item.tableNo5 }} {{ '' }}&nbsp;
                                                </button>
                                                </template>
                                            </wj-flex-grid-column>
                                            <wj-flex-grid-column [header]="'Detail'" [binding]="'tableNo6'" [isReadOnly]="true" [width]="'1*'">
                                                <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                                                    <button class="btn btn-primary btn-responsive btn-md btn-block" (click)="btnEditLead()">
                                                    &nbsp;{{ '' }} {{ cell.item.tableNo6 }} {{ '' }}&nbsp;
                                                </button>
                                                </template>
                                            </wj-flex-grid-column>
                                        </wj-flex-grid>
                                        <div class="row">
                                            <div class="col-sm-12 btn-group group-button" id="">
                                                <button type="button" class="btn btn-lg btn-default" (click)="tableMoveToFirstPage()">
                                                    <span class="fa fa-fast-backward"></span> 
                                                </button>
                                                <button type="button" class="btn btn-lg btn-default" (click)="tableMoveToPreviousPage()">
                                                    <span class="fa fa-step-backward"></span> 
                                                </button>
                                                <button type="button" class="btn btn-lg btn-default" disabled style="width:100px">
                                                    {{ tableIndex }}
                                                </button>
                                                <button type="button" class="btn btn-lg btn-default" (click)="tableMoveToNextPage()">
                                                     <span class="fa fa-step-forward"></span>
                                                </button>
                                                <button type="button" class="btn btn-lg btn-default" (click)="tableMoveToLastPage()">
                                                     <span class="fa fa-fast-forward"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="btn btn-info postouch-walk-in">
                                                <h1 align="center">Walk-in</h1>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="btn btn-info postouch-delivery">
                                                <h1 align="center">Delivery</h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#home">Open</a></li>
                                <li><a data-toggle="tab" href="#menu1">Billed Out</a></li>
                                <li><a data-toggle="tab" href="#menu2">Collected</a></li>
                            </ul>
                            <br />
                            <wj-flex-grid [itemsSource]="tablePostouchSaleCollectionView" [selectionMode]="3" [headersVisibility]="1">
                                <wj-flex-grid-column [header]="'Sales No.'" [binding]="'SalesNumber'" [isReadOnly]="true" [width]="150">
                                </wj-flex-grid-column>
                                <wj-flex-grid-column [header]="'Amount'" [binding]="'Amount'" [isReadOnly]="true" [width]="130">
                                </wj-flex-grid-column>
                                <wj-flex-grid-column [header]="'Table'" [binding]="'TableCode'" [isReadOnly]="true" [width]="50">
                                </wj-flex-grid-column>
                                <wj-flex-grid-column [header]="'User'" [binding]="'AccountName'" [isReadOnly]="true" [width]="250">
                                </wj-flex-grid-column>
                            </wj-flex-grid>
                            <!--<div class="tab-content">
                        <div id="home" class="tab-pane fade in active">
                            <h3>Open</h3>
                        </div>
                        <div id="menu1" class="tab-pane fade">
                            <h3>Billed Out</h3>
                        </div>
                        <div id="menu2" class="tab-pane fade">
                            <h3>Collected</h3>
                        </div>
                        <div id="menu3" class="tab-pane fade">
                            <h3>Menu 3</h3>
                            <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        </div>
                    </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<button id="set-table-group-selectedValue" (click)="setTableGroupSelectedValue()" [hidden]="true"></button>
<button id="load-table-group-data" (click)="loadTableGroupData()" [hidden]="true"></button>
<button id="load-table-data" (click)="getTable()" [hidden]="true"></button>
<shared-footer></shared-footer>