<div class="section-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="postouch-header">
                    <h1 class="software-h1"><i class="fa fa-hand-pointer-o"></i> POS Touch</h1>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>

</div>
<div class="section-body">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="postouch-table-list">
                    <div class="row">
                        <div class="col-md-12">
                            <div *ngIf="isLoading" align="center">

                            </div>
                            <div *ngIf="isFinishLoading">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <table class="postouch-table">
                                            <tr>
                                                <td>
                                                    <wj-combo-box [itemsSource]="tableGroupList" [placeholder]="'Select...'" [displayMemberPath]="'TableGroup'" [selectedValuePath]="'Id'"
                                                        [(selectedValue)]="filterTableGroupSelectedValue" [isEditable]="false"
                                                        [isRequired]="true" (selectedIndexChanged)="filterTableGroupSelectedIndexChanged()"
                                                        style="width: 100%; ">
                                                    </wj-combo-box>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="panel-body">
                                        <wj-flex-grid [itemsSource]="tableGroupCollectionView" [selectionMode]="3" [headersVisibility]="1">
                                            <wj-flex-grid-column [header]="'Detail'" [binding]="''" [isReadOnly]="true" [width]="200">
                                                <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                                                    <button class="btn btn-primary btn-md btn-block" (click)="btnEditLead()">
                                                    <i class="fa fa-edit fa-fw"></i> Detail
                                                </button>
                                                </template>
                                            </wj-flex-grid-column>
                                            <wj-flex-grid-column [header]="'Table Code'" [binding]="'TableCode'" [isReadOnly]="true" [width]="400">
                                            </wj-flex-grid-column>
                                        </wj-flex-grid>
                                    </div>
                                    <div class="panel-footer">
                                        <div class="row">
                                            <div class="col-sm-12 btn-group group-button" id="">
                                                <button type="button" class="btn btn-default" (click)="tableMoveToFirstPage()">
                                                    <span class="fa fa-fast-backward"></span> 
                                                </button>
                                                <button type="button" class="btn btn-default" (click)="tableMoveToPreviousPage()">
                                                    <span class="fa fa-step-backward"></span> 
                                                </button>
                                                <button type="button" class="btn btn-default" disabled style="width:100px">
                                                    {{ tableIndex }}
                                                </button>
                                                <button type="button" class="btn btn-default" (click)="tableMoveToNextPage()">
                                                     <span class="fa fa-step-forward"></span>
                                                </button>
                                                <button type="button" class="btn btn-default" (click)="tableMoveToLastPage()">
                                                     <span class="fa fa-fast-forward"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/><br/>
            </div>
            <div class="col-md-4">
                <div class="postouch-table-bill">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#home">Open</a></li>
                        <li><a data-toggle="tab" href="#menu1">Billed Out</a></li>
                        <li><a data-toggle="tab" href="#menu2">Collected</a></li>
                        <!--<li><a data-toggle="tab" href="#menu3">Menu 3</a></li>-->
                    </ul>
                    <div class="tab-content">
                        <div id="home" class="tab-pane fade in active">
                            <h3>Open</h3>
                        </div>
                        <div id="menu1" class="tab-pane fade">
                            <h3>Billed Out</h3>
                        </div>
                        <div id="menu2" class="tab-pane fade">
                            <h3>Collected</h3>
                        </div>
                        <!--<div id="menu3" class="tab-pane fade">
                            <h3>Menu 3</h3>
                            <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<button id="set-table-group-selectedValue" (click)="setTableGroupSelectedValue()" [hidden]="true"></button>
<button id="load-table-group-data" (click)="loadTableGroupData()" [hidden]="true"></button>
<button id="load-table-data" (click)="getTable()" [hidden]="true"></button>
<shared-footer></shared-footer>