<div class="section-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="postouch-header">
                    <h1 class="software-h1"><i class="fa fa-hand-pointer-o"></i> POS Touch Detail</h1>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>
<div class="section-heading2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p><a routerLink='/dashboard'>Dashboard</a> &nbsp;&nbsp; / &nbsp;&nbsp; <a routerLink="/postouch"> Pos Touch  </a>                    &nbsp;&nbsp; / &nbsp;&nbsp; Pos Touch Detail</p>
            </div>
        </div>
    </div>
</div>
<div class="section-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">
                <div class="">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default style-panel-default">
                                <div class="panel-heading style-panel-heading">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <button type="button" style="height: 88px;" class="btn btn-lg btn-primary btn-block pos-btn" (click)="itemGroupMoveToPreviousPage()">
                                                    <span class="fa fa-fast-backward"></span> 
                                                </button>
                                        </div>
                                        <div class="col-md-10">
                                            <wj-flex-grid style="height: 88px;" [itemsSource]="postouchDetailList" [selectionMode]="1" [headersVisibility]="0" id="ItemPostouchSaleFlexGrid">
                                                <wj-flex-grid-column [header]="'Detail'" [binding]="'itemGroup1'" [isReadOnly]="true" [width]="'1*'">
                                                    <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                                                        <button class="btn btn-info btn-md btn-responsive btn-block pos-btn" (click)="btnItemGroup1Click()">
                                                                &nbsp;{{ '' }} {{ cell.item.itemGroup1 }} {{ '' }}&nbsp;
                                                            </button>
                                                    </template>
                                                </wj-flex-grid-column>
                                                <wj-flex-grid-column [header]="'Detail'" [binding]="'itemGroup2'" [isReadOnly]="true" [width]="'1*'">
                                                    <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                                                        <button class="btn btn-info btn-md btn-responsive btn-block pos-btn" (click)="btnItemGroup2Click()">
                                                                &nbsp;{{ '' }} {{ cell.item.itemGroup2 }} {{ '' }}&nbsp;
                                                            </button>
                                                    </template>
                                                </wj-flex-grid-column>
                                                <wj-flex-grid-column [header]="'Detail'" [binding]="'itemGroup3'" [isReadOnly]="true" [width]="'1*'">
                                                    <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                                                        <button class="btn btn-info btn-md btn-responsive btn-block pos-btn" (click)="btnItemGroup3Click()">
                                                                &nbsp;{{ '' }} {{ cell.item.itemGroup3 }} {{ '' }}&nbsp;
                                                            </button>
                                                    </template>
                                                </wj-flex-grid-column>
                                                <wj-flex-grid-column [header]="'Detail'" [binding]="'itemGroup4'" [isReadOnly]="true" [width]="'1*'">
                                                    <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                                                        <button class="btn btn-info btn-md btn-responsive btn-block pos-btn" (click)="btnItemGroup4Click()">
                                                                &nbsp;{{ '' }} {{ cell.item.itemGroup4 }} {{ '' }}&nbsp;
                                                            </button>
                                                    </template>
                                                </wj-flex-grid-column>
                                                <wj-flex-grid-column [header]="'Detail'" [binding]="'itemGroup5'" [isReadOnly]="true" [width]="'1*'">
                                                    <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                                                        <button class="btn btn-info btn-md btn-responsive btn-block pos-btn" (click)="btnItemGroup5Click()">
                                                                &nbsp;{{ '' }} {{ cell.item.itemGroup5 }} {{ '' }}&nbsp;
                                                            </button>
                                                    </template>
                                                </wj-flex-grid-column>
                                                <wj-flex-grid-column [header]="'Detail'" [binding]="'itemGroup6'" [isReadOnly]="true" [width]="'1*'">
                                                    <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                                                        <button class="btn btn-info btn-md btn-responsive btn-block pos-btn" (click)="btnItemGroup6Click()">
                                                                &nbsp;{{ '' }} {{ cell.item.itemGroup6}} {{ '' }}&nbsp;
                                                            </button>
                                                    </template>
                                                </wj-flex-grid-column>
                                            </wj-flex-grid>
                                        </div>
                                        <div class="col-md-1">
                                            <button type="button" style="height: 88px;" class="btn btn-lg btn-primary btn-block pos-btn" (click)="itemGroupMoveToNextPage()">
                                                        <span class="fa fa-fast-forward"></span>
                                                </button>
                                        </div>
                                    </div>
                                    <!--<Item style="width: 100%" class="Item-responsive Item">
                                        <tr>
                                            <td style="width: 10%">

                                            </td>
                                            <td style="width: 2%"></td>
                                            <td style="width: 76%">

                                            </td>
                                            <td style="width: 2%"></td>
                                            <td style="width: 10%">

                                            </td>
                                        </tr>
                                    </Item>-->
                                </div>
                                <div class="panel-body style-panel-body">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <button type="button" style="height: 432px;" class="btn btn-lg btn-primary btn-block pos-btn" (click)="ItemMoveToPreviousPage()">
                                                    <span class="fa fa-step-backward"></span> 
                                                </button>
                                        </div>
                                        <div class="col-md-10">
                                            <div *ngIf="isLoading" align="center"></div>
                                            <div *ngIf="isFinishLoading">
                                                <wj-flex-grid style="height: 432px;" [itemsSource]="postouchDetailListGroup" [selectionMode]="1" [headersVisibility]="0"
                                                    id="ItemPostouchSaleFlexGrid">
                                                    <wj-flex-grid-column [header]="'Detail'" [binding]="'itemGroupItem1'" [isReadOnly]="true" [width]="'*'">
                                                        <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                                                            <button class="btn btn-primary btn-responsive btn-md btn-block pos-btn" (click)="keypadModal()">
                                                                    &nbsp;{{ '' }} {{ cell.item.itemGroupItem1 }} {{ '' }}&nbsp;
                                                                </button>
                                                        </template>
                                                    </wj-flex-grid-column>
                                                    <wj-flex-grid-column [header]="'Detail'" [binding]="'itemGroupItem2'" [isReadOnly]="true" [width]="'*'">
                                                        <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                                                            <button class="btn btn-primary btn-responsive btn-md btn-block pos-btn" (click)="keypadModal()">
                                                                    &nbsp;{{ '' }} {{ cell.item.itemGroupItem2 }} {{ '' }}&nbsp;
                                                                </button>
                                                        </template>
                                                    </wj-flex-grid-column>
                                                    <wj-flex-grid-column [header]="'Detail'" [binding]="'itemGroupItem3'" [isReadOnly]="true" [width]="'*'">
                                                        <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                                                            <button class="btn btn-primary btn-responsive btn-md btn-block pos-btn" (click)="keypadModal()">
                                                                    &nbsp;{{ '' }} {{ cell.item.itemGroupItem3 }} {{ '' }}&nbsp;
                                                                </button>
                                                        </template>
                                                    </wj-flex-grid-column>
                                                    <wj-flex-grid-column [header]="'Detail'" [binding]="'itemGroupItem4'" [isReadOnly]="true" [width]="'*'">
                                                        <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                                                            <button class="btn btn-primary btn-responsive btn-md btn-block pos-btn" (click)="keypadModal()">
                                                                    &nbsp;{{ '' }} {{ cell.item.itemGroupItem4 }} {{ '' }}&nbsp;
                                                                </button>
                                                        </template>
                                                    </wj-flex-grid-column>
                                                    <wj-flex-grid-column [header]="'Detail'" [binding]="'itemGroupItem5'" [isReadOnly]="true" [width]="'*'">
                                                        <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                                                            <button class="btn btn-primary btn-responsive btn-md btn-block pos-btn" (click)="keypadModal()">
                                                                    &nbsp;{{ '' }} {{ cell.item.itemGroupItem5 }} {{ '' }}&nbsp;
                                                                </button>
                                                        </template>
                                                    </wj-flex-grid-column>
                                                    <wj-flex-grid-column [header]="'Detail'" [binding]="'itemGroupItem6'" [isReadOnly]="true" [width]="'*'">
                                                        <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                                                            <button class="btn btn-primary btn-responsive btn-md btn-block pos-btn" (click)="keypadModal()">
                                                                    &nbsp;{{ '' }} {{ cell.item.itemGroupItem6 }} {{ '' }}&nbsp;
                                                                </button>
                                                        </template>
                                                    </wj-flex-grid-column>
                                                </wj-flex-grid>
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <button type="button" style="height: 432px;" class="btn btn-lg btn-primary btn-block pos-btn" (click)="ItemMoveToNextPage()">
                                                     <span class="fa fa-step-forward"></span>
                                                </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer style-panel-footer">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button class="btn btn-info pos-btn" id="delivery">
                                                <h1>Change Table</h1>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="">
                    <div class="panel panel-default style-panel-default">
                        <div class="panel-body style-panel-body">
                            <wj-flex-grid [itemsSource]="ItemPostouchSaleCollectionView" [selectionMode]="3" [headersVisibility]="1">
                                <wj-flex-grid-column [header]="'Item'" [binding]="''" [isReadOnly]="true" [width]="500">
                                </wj-flex-grid-column>
                                <wj-flex-grid-column [header]="'Amount'" [binding]="''" [isReadOnly]="true" [width]="230">
                                </wj-flex-grid-column>
                            </wj-flex-grid>
                            <!--<div class="tab-content">
                        <div id="home" class="tab-pane fade in active">
                            <h3>Open</h3>
                        </div>
                        <div id="menu1" class="tab-pane fade">
                            <h3>Billed Out</h3>
                        </div>
                        <div id="menu2" class="tab-pane fade">
                            <h3>Collected</h3>
                        </div>
                        <div id="menu3" class="tab-pane fade">
                            <h3>Menu 3</h3>
                            <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        </div>
                    </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--MODAL FOR DELIVERY-->
<div class="modal fade" id="keypad-modal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-style">
            <div class="modal-header panel-heading">
                <button type="button" class="close" data-dismiss="modal" (click)="log=''">&times;</button>
            </div>
            <div class="modal-body panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" class="form-control" />
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>2</td>
                                        <td>3</td>
                                        <td>-</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>5</td>
                                        <td>6</td>
                                        <td>></td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>6</td>
                                        <td>9</td>
                                        <td>,</td>
                                    </tr>
                                    <tr>
                                        <td>.</td>
                                        <td>0</td>
                                        <td>DEL</td>
                                        <td>OK</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<button id="load-Item-group-data" (click)="loadItemGroupData()" [hidden]="true"></button>
<button id="set-Item-group-selectedValue" (click)="setItemGroupSelectedValue()" [hidden]="true"></button>
<!--<button id="set-Item-group" (click)="getItemGroupWalkInDelivery()" [hidden]="true"></button>
<button id="load-Item-data" (click)="getItem()" [hidden]="true"></button>
<button id="refresh-Item-group" (click)="refreshItemGroup()" [hidden]="true"></button>-->
<button id="keypadModal" [hidden]="true" data-toggle="modal" data-target="#keypad-modal"></button>
<shared-footer></shared-footer>